In [3]:
import hsfs

connection = hsfs.connection()
fs = connection.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

# Read feature

In [6]:
moon_train_feature = fs.get_feature_group("moon_train")

VersionWarning: No version provided for getting feature group `moon_train`, defaulting to `1`.

In [20]:
moon_label_feature = fs.get_feature_group("moon_label")

VersionWarning: No version provided for getting feature group `moon_label`, defaulting to `1`.

In [10]:
moon_train_feature.show(5)

Lazily executing query: SELECT `fg0`.`moon_x1`, `fg0`.`moon_x0`, `fg0`.`moon_id`
FROM `iris_featurestore`.`moon_train_1` `fg0`

   fg0.moon_x1  fg0.moon_x0  fg0.moon_id
0    -0.002399    -0.531473          128
1     1.053744    -0.246744          129
2     0.177072     0.495690           44
3     0.788009     1.704252           45
4     0.430901     0.181800           79

In [17]:
moon_train_df = moon_train_feature.read()

Lazily executing query: SELECT `fg0`.`moon_x1`, `fg0`.`moon_x0`, `fg0`.`moon_id`
FROM `iris_featurestore`.`moon_train_1` `fg0`

In [18]:
type(moon_train_df)

pandas.core.frame.DataFrame

In [19]:
moon_train_df.head()

   fg0.moon_x1  fg0.moon_x0  fg0.moon_id
0    -0.002399    -0.531473          128
1     1.053744    -0.246744          129
2     0.177072     0.495690           44
3     0.788009     1.704252           45
4     0.430901     0.181800           79

In [22]:
moon_label_feature.show(5)

Lazily executing query: SELECT `fg0`.`moon_id`, `fg0`.`moon_label`
FROM `iris_featurestore`.`moon_label_1` `fg0`

   fg0.moon_id  fg0.moon_label
0           77               1
1           10               0
2           44               1
3           11               1
4          171               0

In [23]:
moon_label_df = moon_label_feature.read()
print(type(moon_label_df))

Lazily executing query: SELECT `fg0`.`moon_id`, `fg0`.`moon_label`
FROM `iris_featurestore`.`moon_label_1` `fg0`
<class 'pandas.core.frame.DataFrame'>

In [24]:
moon_label_df.head()

   fg0.moon_id  fg0.moon_label
0           77               1
1           10               0
2           44               1
3           11               1
4          171               0

In [27]:
## Join

In [ ]:
# Join

In [33]:
moon_feature_label = moon_label_feature.select_all().join(moon_train_feature.select_all())
print(type(moon_feature_label))
print(moon_feature_label.to_string())

<class 'hsfs.constructor.query.Query'>
SELECT `fg1`.`moon_id`, `fg1`.`moon_label`, `fg0`.`moon_x1`, `fg0`.`moon_x0`
FROM `iris_featurestore`.`moon_label_1` `fg1`
INNER JOIN `iris_featurestore`.`moon_train_1` `fg0` ON `fg1`.`moon_id` = `fg0`.`moon_id`

In [32]:
moon_feature_label.show(5)

Lazily executing query: SELECT `fg1`.`moon_id`, `fg1`.`moon_label`, `fg0`.`moon_x1`, `fg0`.`moon_x0`
FROM `iris_featurestore`.`moon_label_1` `fg1`
INNER JOIN `iris_featurestore`.`moon_train_1` `fg0` ON `fg1`.`moon_id` = `fg0`.`moon_id`

   fg1.moon_id  fg1.moon_label  fg0.moon_x1  fg0.moon_x0
0           77               1    -0.584700     0.634408
1           11               1    -0.288085     2.018884
2           13               0     0.352505    -0.902532
3           47               0     0.644222     0.915011
4          142               1     0.230853     1.492350